:root{
    --fuentePrincipal: Arial;
}

html{
    box-sizing: border-box;
    font-size: 62.5%; /*1 rem = 10 px*/
    ;
}

*, *:before, *:after{
        box-sizing: inherit;
    }
* {
    margin: 0px;
    padding; 0px;
    box-sizing: border-box;
    font-weight: normal;
    font-family: 'Segoe UI';
    
    font-size: 12px;
    text-align: center;
}

/* GLOBALES*/
body{
    font-family: var(--fuentePrincipal);
    font-size: 13px;
}
header{
    height: 5rem;
    margin: 3rem;
}
.contenedor{
    max-width: 150rem;
    width: 90%;
    height: 70rem;
    margin: 0 auto;

    /*outline: 2px solid black;*/
}
h1, h2{
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    line-height: 3rem;
    margin: 0;
}
img{
    max-width: 25px;
}
.texto--negrita{
    font-weight: bold;
}

.c1{ background-color: green; }
.c2{ background-color: white; }
.c3{ background-color: pink; }
.c4{ background-color: yellow; }
.c5{ background-color: none; }
.c6{ background-color: gold; }
.c7{ background-color: aqua; }
.c8{ background-color: blue; }
.c9{ background-color: purple; }
.c10{ background-color: palevioletred; }
.c11{ background-color: red; }
.c12{ background-color: olive; }
/* .c13{ background-color: orangered; }
.c14{ background-color: brown; } */
.c15{ background-color: brown; }
.c16{ background-color: orangered; }
.c17{ background-color: magenta; }

.elemento--titulo{
    border-radius: 10px 10px 0 0; 
    border-bottom-color: black;
    border-bottom-style: solid;
    border-width: 1px;
}
.center {
    width: 100%;
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.download_card_cont{
    width: 360px;
    height: 160px;
    
   background-color: #FF0000;
   border-radius: 10px;
    
  display: flex;
  justify-content: center;
  align-items: center;
}

.download_btn_cont{
    width: 58px;
    height: 160px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-right: solid 2px #000;
}

/* BOTONES*/
.contenedorBotones{
    max-width: 150rem;
    width: 90%;
    height: 5rem;
    margin: 0 auto;
}
.flex--botones{
    display: flex;
    justify-content: space-evenly;
    margin: 5rem auto 3rem auto;
}
.btn--etapa{
    border: none;
    background-color: #87d5f9;
    border-radius: 20px;
    color: black;
    text-align: center;
    padding: 10px 20px;
}

.btn--etapa:hover{
    cursor: pointer;
}

button{
    width: 40px;
    height: 40px;
    
    background-color: #1b1c2b;
    border-radius: 100%;
    border: none;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    cursor: pointer;
    transition: .3s ease;
}
button:hover{
    transform: translateY(-3px);
}

.card_info_cont{
    width: 302px;
    height: 160px;
}

#txt_info{
    margin: 10px;
    color: #fff;
    
.img_cont {
    width: 302px;
    height: 40px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.canvas_name{
    margin: 10px;
    color: #d9d9d9;
}
    
.progress_porcent{
    margin: 10px;
    color: #aaa;
}
    
    .bar_cont-center {
        width: 302px;
        height: 10px;
        
        display: flex;
        justify-content: center;
        align-items: center;
        
}
.progress_bar_1{
    width: 200px;
    height: 5px;
    
    background-color: #333;
    border-radius: 50px;
    
}
.progress_bar_2{
    width: 90px;
    height: 5px;
    
    background-color: #5835ff;
    border-radis: 50px;
}
    
/* GRID CANVA */
.canva{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);

    grid-template-areas: "a a b c c"
                         "d e h i k"
                         "d f h i k"
                         "d g h j k"
                         "l l m n n";
    gap: 1rem;
    margin-bottom: 3rem;
}

.elemento1{ grid-area: a; }
.elemento2{ grid-area: b; }
.elemento3{ grid-area: c; }
.elemento4{ grid-area: d; }
.elemento6{ grid-area: e; }
.elemento7{ grid-area: f; }
.elemento8{ grid-area: g; }
.elemento9{ grid-area: h; }
.elemento10{ grid-area: i; }
.elemento11{ grid-area: j; }
.elemento12{ grid-area: k; }
.elemento15{ grid-area: l; }
.elemento16{ grid-area: m; }
.elemento17{ grid-area: n; }

.elemento1, .elemento2, .elemento3, .elemento4, .elemento5, .elemento6,
.elemento7, .elemento8, .elemento9, .elemento10, .elemento11, .elemento12, 
.elemento13, .elemento14, .elemento15, .elemento16, .elemento17{
    border-radius: 10px;
    outline: 1px solid black;
}

.flex{
    display: flex;
    justify-content: space-around;
}

.textarea{
    border: none;
}

.tooltip{
    color: gray;
    position: relative;
}
.tooltip:hover .tooltip-box{
    display: inline-block;
    line-height: 1.5rem;
}
.tooltip-box{
    display: none;
    position: absolute;
    width: 750%;
    background-color: white;
    line-height: 10px;
    text-align: center;
    color: gray;
    padding: 5px 6px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px gray;

    left: -190px;
    top: 40px;
}

.elemento--texto{
    width: 100%;
    height: 50px;
    resize: none;
    border: none;
}

.areaTexto{
    width: 30rem;
    height: 20rem;
    border: 1px solid gray;
    border-radius: 10px;
    resize: none;
    padding: 1rem;
}
/* Botón agregar */

.agregar_info{
    padding: 0px;
    border-radius: 6px;
    display: inline-block;
    transition: background-color .3s;
    cursor: pointer;
}

.img--agregar{
    max-width: 20px;
    padding-top: 3px;
}

/* Ventana modal */

.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s;
}

.modal--show{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
}

.modal_container{
    margin: auto;
    width: 30%;
    max-width: 50ch;
    max-height: 90%;
    background-color: #fff;
    border-radius: 6px;
    padding: 3em 2.5em;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
}

.modal_agregar{
    color: #fff;
    text-decoration: none;
    background-color: #f26250;
    padding: 1em 3em;
    border: 1px solid;
    border-radius: 6px;
    display: inline-block;
    transition: background-color .3s;
    cursor: pointer;
}

.modal_agregar:hover{
    color: #f26250;
    background-color: #fff;
}

.info-guardada{
    /* background-color: aqua; */
    height:auto;
    box-sizing: border-box;
    padding: 16px;
    border: none;
    border-radius: 10px;
    /* box-shadow: 0 0 7px rgba(0, 0, 0, 0.15); */
    display: table;
}
